{% extends "type_base.html" %}
{% block content %}
{% if xobject.properties_html %}
<div class="oprops">
{% for pname, phtml in xobject.properties_html.items() %}
<div class="oprop"><span class="opropn">{{ pname }}</span><span class="opropv">{{ phtml|safe }}</span></div>
{% endfor %}
</div>
{% else %}
()
{% endif %}
{# required and nullable are handled in python code #}
{# {% if xobject.required %}<span class="obp">required={{ xobject.required }}</span>{% endif %} #}
{# {% if xobject.nullable %}<span class="obp">nullable={{ xobject.nullable }}</span>{% endif %} #}
{% endblock %}
