{% from 'object_macro.html' import object %}
{% macro procedure(xobject, hlevel) -%}
<div class="defd"><span class="dhead">Procedure</span>
<h{{ hlevel }}>{{ xobject.defid }}</h{{ hlevel }}>
<div class="lextype">{{ xobject.type }}</div>
{% if xobject.description %}
<p>{{ xobject.description }}</p>
{% endif %}
{% if xobject.parameters %}
<div><span>parameters: </span>
  {{ object(xobject.parameters, hlevel+1) }}
</div>
{% endif %}
{% if xobject.input %}
<div><span>input: </span>{% if xobject.input.description %}<span>{{ xobject.input.description }}</span>{% endif %}
  <div>encoding: <span class="enc">{{ xobject.input.encoding }}</span></div>
  {% if xobject.input.schema %}
  {% if xobject.input.schema.type == 'object' %}
  {{ object(xobject.input.schema, hlevel+1) }}
  {% endif %}
  {% endif %}
  {{ object(xobject.input, hlevel+1) }}
</div>
{% endif %}
{% if xobject.output %}
<div><span>output: </span>
  {{ object(xobject.output, hlevel+1) }}
</div>
{% endif %}
{% if xobject.errors %}
<div><span>errors: </span>
  {{ object(xobject.errors, hlevel+1) }}
</div>
{% endif %}
</div>
{%- endmacro %}
